@import './base.css';

#app {
	font-weight: normal;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--vt-c-text-dark-1);
	background: none;
}

body.light-mode a {
	color: var(--vt-c-text-light-1);
}

main {
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

header,
footer {
	display: flex;
	flex-direction: row;
	height: 50px;
	background-color: var(--vt-c-black-soft);
	transition: background-color 0.5s linear;
	padding: 1px;
}

body.light-mode header,
body.light-mode footer {
	background-color: var(--vt-c-white-soft);
}

header {
	justify-content: space-between;
}

footer {
	justify-content: space-around;
	text-align: center;
}

footer > div {
	width: 100%;
}

.icon {
	width: 40px;
	background-color: none;
	margin: 5px;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: var(--vt-c-text-dark-1);
}

body.light-mode button {
	color: var(--vt-c-text-light-1);
}
